
# Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [5]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import selenium
import pandas as pd
from selenium import webdriver
import time
# Opening Browsers in Incognito using Options
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException,InvalidArgumentException,InvalidCookieDomainException

In [3]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [4]:
url="https://www.naukri.com/"

In [5]:
driver.get(url)

In [6]:
#interacting with the webpage
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input').send_keys("Data Scientist")
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input').send_keys("Bangalore")
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]').click()

In [7]:
#getting the list of url of first 10 data scientist jobs

URL=[]
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
for i in job_tags:
    URL.append(i.get_attribute('href'))

In [8]:
#creating the empty lists
job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [9]:
driver.get(URL[0])

In [10]:
#running a loop to extract all the required texts from each individual job listing


for i in URL:
    driver.get(i)
    try:
        job_title.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[1]/header/h1')).text)
        job_location.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[2]/div[3]/span')).text)
        company_name.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[1]/div[1]/div[1]/div/a')).text)
        job_description.append((driver.find_element_by_xpath('//*[@id="root"]/main/div[2]/div[2]/section[2]')).text.replace("\n",""))
    except NoSuchElementException:
        job_title.append("Nan")
        job_location.append("Nan")
        company_name.append("Nan")
        job_description.append("Nan")

In [11]:
#creating a dataframe

Data_scientist=pd.DataFrame({})
Data_scientist['job_title']=job_title
Data_scientist['job_location']=job_location
Data_scientist['company_name']=company_name
Data_scientist['job_description']=job_description

In [12]:
Data_scientist

,job_title,job_location,company_name,job_description
0,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart,Job descriptionAbout the teamThe Data Sciences...
1,Senior Data Scientist Grade12,Bangalore/Bengaluru,Flipkart,Job descriptionThe Data Sciences team at Flipk...
2,Senior Data Scientist,Bangalore/Bengaluru,Fractal Analytics,Job descriptionJob ResponsibilitiesAbility to ...
3,Nan,Nan,Nan,Nan
4,Data Scientist,Bangalore/Bengaluru,VISA,Job description Responsibilities:Be a standou...
5,"Data Scientist, Machine Learning (AIML)",Bangalore/Bengaluru,Fractal Analytics,Job descriptionJob ResponsibilitiesAbility to ...
6,Nan,Nan,Nan,Nan
7,Lead - Data Scientist,Bangalore/Bengaluru,Applied Materials,Job descriptionApplied Materials’ AGS Business...
8,DATA SCIENTIST,Bangalore/Bengaluru,Kyndryl,Job descriptionAs a Data Scientist you be part...
9,Data Scientist,Bangalore/Bengaluru,Aidetic Software Pvt Ltd,Job descriptionJob descriptionDesign machine l...

# Q3: In this question you have to scrape data using the filters available on the webpage

In [21]:
#specifying the url of the webpage to be scraped
url="https://www.naukri.com/"

In [22]:
driver.get(url)

In [23]:
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[1]/div/div/div/input').send_keys("Data Scientist")
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]').click()

In [24]:
#applying location filter on the webpage
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]').click()

In [25]:
#applying salary filter on the webpage
driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]').click()

In [26]:
#creating the empty lists
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [27]:
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[0:10]
titles[0:3]

companies=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[0:10]
companies[0:3]

experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")[0:10]
experience_tags[0:3]

location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")[0:10]
location_tags[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="b27344027a46ade735387bddc6aa1b6b", element="e607293c-3411-4d27-9158-b44e82a30fd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b27344027a46ade735387bddc6aa1b6b", element="35a2a63f-8186-42a9-90b5-acc65c70f721")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b27344027a46ade735387bddc6aa1b6b", element="776c7493-7f7f-40d9-a227-7cee38a06eb9")>]

In [28]:
for i in titles:
    title=i.text
    job_title.append(title)

for i in companies:
    company_names=i.text
    company_name.append(company_names)

for i in experience_tags:
    experience=i.text
    experience_required.append(experience)


for i in location_tags:
    locations=i.text
    job_location.append(locations)

In [29]:
Data_Scientist=pd.DataFrame({})
Data_Scientist['job_title']=job_title
Data_Scientist['job_location']=job_location
Data_Scientist['company_name']=company_name
Data_Scientist['experience_required']=experience_required

In [30]:
Data_Scientist

,job_title,job_location,company_name,experience_required
0,Data Scientist,"Noida, Bangalore/Bengaluru",Ashkom Media India Private Limited,3-6 Yrs
1,Junior Data Scientist,Noida,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,1-2 Yrs
2,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs
3,Associate Scientist - Data Engineering,Gurgaon/Gurugram,AXA Technology Services India Pvt. Ltd,2-5 Yrs
4,Hiring For Data Analyst and Data Scientist For...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Shadow Placements,3-7 Yrs
5,Data Scientist || Software Company || Immediat...,"Gurgaon/Gurugram, Bangalore/Bengaluru",Skyleaf Consultants,3-8 Yrs
6,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs
7,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",Creative Hands HR Consultancy,0-4 Yrs
8,Data Scientists,Gurgaon/Gurugram,Nibha Infotech Private Limited,5-8 Yrs
9,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs

# Q)4 Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [36]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [37]:
#specifying the url of the webpage to be scraped
url=" https://www.flipkart.com/"

In [38]:
driver.get(url)

In [42]:
#interacting with the webpage
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys("sunglasses")
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [43]:
#creating the empty lists
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [44]:
URL=[]
for i in range(0,3):
    sunglasses=driver.find_elements_by_xpath("//a[@class='_2UzuFa']")[0:100]
    for i in sunglasses:
        URL.append(i.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(3)

In [45]:
list_of_url=URL[0:100]

In [46]:
len(list_of_url)

100

In [47]:
#going to the url of first sunglasses through our driver
driver.get(list_of_url[0])

In [51]:
#running a loop to extract all the required information from the list_of_url

from tqdm import tqdm
for i in tqdm(list_of_url):
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element_by_xpath("//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
    except NoSuchElementException:
        Brand.append("Null")
        Product_Description.append("Null")
        Price.append("Null")

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [05:57<00:00,  3.57s/it]

In [55]:
#creating a dataframe

Sunglasses=pd.DataFrame({})
Sunglasses['Brand']=Brand
Sunglasses['Product_Description']=Product_Description
Sunglasses['Price']=Price

In [56]:
Sunglasses

,Brand,Product_Description,Price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size) ...,₹647
1,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹283
2,Fastrack,UV Protection Rectangular Sunglasses (Free Siz...,₹639
3,PIRASO,UV Protection Aviator Sunglasses (54) (For Me...,₹249
4,Elligator,UV Protection Round Sunglasses (54) (For Men ...,₹295
...,...,...,...
195,VINCENT CHASE,UV Protection Wayfarer Sunglasses (55) (For M...,₹749
196,United Colors of Benetton,"Mirrored, UV Protection Wayfarer Sunglasses (5...","₹1,249"
197,Rich Club,UV Protection Round Sunglasses (48) (For Men ...,₹199
198,Fastrack,Polarized Aviator Sunglasses (Free Size) (For...,"₹2,087"
199,David Martin,UV Protection Aviator Sunglasses (56) (For Me...,₹99

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [52]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [58]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace"

In [59]:
driver.get(url)

In [60]:
#clicking on all reviews
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span').click()

In [61]:
#creating empty lists
Rating=[]
Review_summary=[]
Full_review=[]

In [62]:
URL=[]
for j in range(0,12):
    review_tags=driver.find_elements_by_xpath("//nav[@class='yFHi8N']")
    for i in review_tags:
        review_tags1=i.find_element_by_tag_name("a")
        URL.append(review_tags1.get_attribute('href'))
        try:
            driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span').click()
        except NoSuchElementException:
            driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span').click()
        time.sleep(3)

C:\Users\hp\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:341: UserWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  warnings.warn("find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead")

In [63]:
List_of_url=URL[2:]

In [65]:
#going to the first url through our driver
driver.get(List_of_url[0])

In [66]:
#extracting the required texts through loop
for i in List_of_url:
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(i.text)
        
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(j.text)
    
    time.sleep(3)
    #for k in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']"):
        #Full_review.append(k.text)

In [72]:
driver.get(List_of_url[0])

In [79]:
#extracting full reviews from list of url through loops
for r in List_of_url:
    read_more_btns=driver.find_elements_by_xpath("//span[@class='_1BWGvX']")
    for rm in range(0,len(read_more_btns)):
        if read_more_btns[rm].is_displayed():
            read_more_btns[rm].click()
            for rm in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
                Full_review.append(rm.text.replace("\n",""))
            for r in driver.find_elements_by_xpath('//*[@id="container"]/div/div[3]/div/div[1]/div[2]/div[9]/div/div/div/div[2]'):
                Full_review.append(r.text.replace("\n",""))
    time.sleep(3)

In [81]:
print(len(Review_summary),len(Rating),len(Full_review))

100 100 120

In [82]:
Reviews=pd.DataFrame({})
Reviews['Review_summary']=Review_summary
Reviews['Rating']=Rating
Reviews['Full_review']=Full_review[:100]

In [83]:
Reviews

,Review_summary,Rating,Full_review
0,Highly recommended,5,iphone 11 is a very good phone to buy only if ...
1,Perfect product!,5,It’s a must buy who is looking for an upgrade ...
2,Perfect product!,5,Value for money❤️❤️Its awesome mobile phone in...
3,Worth every penny,5,"Smooth like butter, camera like fantabulous, s..."
4,Highly recommended,5,It's my first time to use iOS phone and I am l...
...,...,...,...
95,Perfect product!,5,Iphone is just awesome.. battery backup is ver...
96,Worth every penny,5,Best budget Iphone till date ❤️ go for it guys...
97,Simply awesome,5,"Excellent camera, good performance, no lag. Th..."
98,Terrific,5,Really worth of money. i just love it. It is t...
99,Classy product,5,Totally in love with this ❤ the camera quality...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [9]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [10]:
url='https://www.flipkart.com/?s_kwcid=AL!739!3!582822043916!e!!g!!flipkart&gclsrc=aw.ds&&semcmpid=sem_8024046704_brand_exe_buyers_goog&gclid=EAIaIQobChMI-Y_D2-bZ9wIVRMORCh2QnQGxEAAYASAAEgKIPPD_BwE'

In [11]:
driver.get(url)

In [13]:
#interacting with the webpage
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input').send_keys("sneakers")
driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button').click()

In [14]:
#creating the empty lists
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [17]:
#getting the list of url of first 100 sneakers
URL=[]
for i in range(0,4):
    sneakers=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in sneakers:
        URL.append(i.get_attribute('href'))

In [18]:
#slicing to get first 100 url's
list_of_url=URL[0:100]

In [19]:
len(list_of_url)

100

In [20]:
#going to the url of first sneaker through our driver
driver.get(list_of_url[0])

In [21]:
#running a loop to extract all the required information from the list_of_url
from tqdm import tqdm
for i in tqdm(list_of_url):
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath("//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element_by_xpath("//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
        discount=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span").text
        Discount.append(discount)
    except NoSuchElementException:
        #Brand.append("Null")
        #Product_Description.append("Null")
        #Price.append("Null")
        Discount.append('Null')
    time.sleep(3)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [10:55<00:00,  6.55s/it]

In [22]:
Sneakers=pd.DataFrame({})
Sneakers['Brand']=Brand
Sneakers['Product_Description']=Product_Description
Sneakers['Price']=Price
Sneakers['Discount']=Discount

In [23]:
Sneakers

,Brand,Product_Description,Price,Discount
0,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men ...,₹295,77% off
1,KWIK FIT,Kwik FIT casual sneaker shoes and partywear sh...,₹399,80% off
2,corsac,STYLISH MENS BLACK SNEAKER Sneakers For Men (...,₹499,66% off
3,Labbin,Sneakers For Men (White),₹469,53% off
4,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹351,64% off
...,...,...,...,...
95,Chevit,516 Trendy Star Perfect Sneakers For Men (Grey),₹299,62% off
96,Kraasa,"Casuals, Canvas, Partywear Sneakers For Men (...",₹489,51% off
97,Arohi,Sneakers For Men (White),₹441,55% off
98,MAFLO,Sneakers For Men (White),₹499,61% off
99,Robbie jones,Sneakers For Men (Black),₹499,50% off

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

In [24]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [25]:
url='https://www.myntra.com/shoes'

In [27]:
driver.get(url)

In [28]:
#clicking on price filter
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div').click()

In [29]:
#clicking on color filter
driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div').click()

In [30]:
#creating the empty lists
Brand=[]
Product_Description=[]
Price=[]

In [31]:
#getting the list of url of first 100 shoes
URL=[]
for i in range(0,2):
    shoes=driver.find_elements_by_xpath("//li[@class='product-base']")
    for i in shoes:
        #shoes1=i.find_element_by_tag_name("div")
        #shoes2=shoes1.find_element_by_tag_name("div")
        shoes3=i.find_element_by_tag_name("a")
        URL.append(shoes3.get_attribute('href'))
    driver.find_element_by_xpath('//*[@id="desktopSearchResults"]/div[2]/section/div[2]/ul/li[3]/a').click()
    time.sleep(3)

C:\Users\hp\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:341: UserWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  warnings.warn("find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead")

In [32]:
len(URL)

100

In [33]:
#going to the url of first shoes through our driver
driver.get(URL[0])

In [34]:
#running a loop to extract all the required information from the list_of_url
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    try:
        brand=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/h1[1]').text
        Brand.append(brand)
    except NoSuchElementException:
        Brand.append("Null")
    try:
        description=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/h1[2]').text
        Product_Description.append(description)
    except NoSuchElementException:
        Product_Description.append("Null")
    try:
        price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div/div/main/div[2]/div[2]/div[1]/p[1]/span[1]/strong').text
        Price.append(price)
    except NoSuchElementException:
        Price.append("Null")
    time.sleep(3)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [13:05<00:00,  7.86s/it]

In [42]:
Shoes=pd.DataFrame({})
Shoes['Brand']=Brand
Shoes['Product_Description']=Product_Description
Shoes['Price']=Price

In [43]:
Shoes

           Brand                             Product_Description      Price
0       Skechers  Men Black Max Cushioning Premier Running Shoes   Rs. 7199
1   UNDER ARMOUR       Men Black Charged Vantage 2 Running Shoes   Rs. 7999
2           ALDO                              Men Black Sneakers   Rs. 9999
3           Nike         Women Black React Miler 3 Running Shoes   Rs. 8920
4           Puma       Men Black Deviate Nitro WTR Running Shoes  Rs. 12799
..           ...                                             ...        ...
95     J.FONTINI                               Men Black Loafers   Rs. 8990
96      DAVINCHI                                    Ustraa black   Rs. 8990
97      DAVINCHI       Men Black Textured Formal Leather Loafers   Rs. 8990
98   RARE RABBIT              Men Black Textured Leather Loafers   Rs. 7699
99       Bugatti           Black & Brown Printed Comfort Sandals   Rs. 7499

[100 rows x 3 columns]

# Q8: Web scraping laptops from amazon.in

In [36]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [37]:
url='https://www.amazon.in/'

In [38]:
#opening the webpage through our driver
driver.get(url)

In [39]:
#interacting with the webpage
driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]').send_keys("Laptop")
driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]').click()

In [40]:
#clicking on the "Intel core i7" filter
driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()

In [44]:
#creating the empty lists
Title=[]
Ratings=[]
Price=[]

In [45]:
#getting the list of url of laptops
URL=[]

laptop=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in laptop:
    laptop2=i.find_element_by_tag_name("a")
    URL.append(laptop2.get_attribute('href'))

C:\Users\hp\anaconda3\lib\site-packages\selenium\webdriver\remote\webelement.py:341: UserWarning: find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead
  warnings.warn("find_element_by_tag_name is deprecated. Please use find_element(by=By.TAG_NAME, value=name) instead")

In [46]:
list_of_url=URL[0:10]

In [47]:
#going to the url of first laptop through our driver
driver.get(URL[0])

In [50]:
for i in tqdm(list_of_url):
    driver.get(i)
    try:
        title=driver.find_element_by_xpath('//*[@id="productTitle"]').text
        Title.append(title)
    except NoSuchElementException:
        Title.append('Null')
        
    try:
        price=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[10]/div[1]/div/table/tbody/tr[1]/td[2]/span[1]/span[2]').text
        Price.append(price)
    except NoSuchElementException:
        price1=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[5]/div[4]/div[4]/div[10]/div[1]/div/table/tbody/tr[2]/td[2]/span[1]/span[2]').text
        Price.append(price1)
    
    try:
        rating=driver.find_element_by_xpath('//*[@id="acrPopover"]/span[1]/a/i[1]').click()
        ratings=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base a-text-beside-button a-text-bold']").text
        Ratings.append(ratings)
    except NoSuchElementException:
        Ratings.append('Null')
        
    time.sleep(3)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [02:20<00:00, 14.04s/it]

In [52]:
#printing length
print(len(Title),len(Price),len(Ratings))

12 10 10

In [53]:
#creating a dataframe

Laptops=pd.DataFrame({})
Laptops['Title']=Title[:10]
Laptops['Price']=Price
Laptops['Ratings']=Ratings

In [54]:
Laptops

,Title,Price,Ratings
0,Fujitsu UH-X 11th Gen Intel Core i5 13.3” FHD ...,"₹1,16,490.00",4.1 out of 5
1,Fujitsu UH-X 11th Gen Intel Core i5 13.3” FHD ...,"₹74,839.00",Null
2,Fujitsu UH-X 11th Gen Intel Core i5 13.3” FHD ...,"₹33,990.00",Null
3,"HP Pavilion 14, Ryzen 5-16GB RAM/512GB 14 inch...","₹40,490.00",Null
4,"ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...","₹64,490.00",Null
5,Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...,"₹1,15,668.00",Null
6,"Lenovo IdeaPad 3 11th Gen Intel i3 15.6"" FHD T...","₹29,741.00",3.7 out of 5
7,"Lenovo ThinkBook 14 Intel Core i5 11th Gen 14""...","₹42,999.00",Null
8,HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...,"₹26,663.00",Null
9,"HP 247 G8 Laptop (Athlon P-3045B HD/ 14"" HD (3...","₹43,494.00",Null

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [16]:
driver = webdriver.Chrome(r"C:\Users\hp\OneDrive\Desktop\chromedriver.exe")

In [17]:
url='https://www.ambitionbox.com/'

In [18]:
driver.get(url)

In [19]:
# click on job tag
driver.find_element_by_xpath('//*[@id="headerWrapper"]/nav/nav/a[6]').click()

In [20]:
# finding job for data scientist
driver.find_element_by_xpath('//*[@id="jobs-typeahead"]/span/input').send_keys('Data Scientist')
driver.find_element_by_xpath('//*[@id="jobs"]/div[2]/div[1]/div[1]/div/div/div/button').click()

In [21]:
# giving intrsuction for location
driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[1]/p').click()

In [22]:
driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[2]/input').send_keys('NOIDA')
driver.find_element_by_xpath('//*[@id="filters-row"]/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [31]:
URL=[]
job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[1]')
for i in job:
    jobs=i.find_element_by_tag_name("a")
    URL.append(jobs.get_attribute('href'))

TypeError: 'WebElement' object is not iterable